<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318186059918-tef03r3jbh5f4bk4vbboi6c97pi4vt34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318186059918-tef03r3jbh5f4bk4vbboi6c97pi4vt34</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>318186059918-6he6b1mvo4eof3nc4a66fs8g76nt32dj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2pZulC12myNzAFFU23hjekdWVUeUq8yc</string>
	<key>GCM_SENDER_ID</key>
	<string>318186059918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bo.e2v.electropoint</string>
	<key>PROJECT_ID</key>
	<string>electropoint-8c3d1</string>
	<key>STORAGE_BUCKET</key>
	<string>electropoint-8c3d1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318186059918:ios:a8e52afd3ddcdf11b931df</string>
	<key>DATABASE_URL</key>
	<string>https://electropoint-8c3d1-default-rtdb.firebaseio.com</string>
</dict>
</plist>